02/packages/
02/StockAnalyzer.Windows/bin/
02/StockAnalyzer.Windows/obj/
02/StockAnalyzer.Core/obj/
02/StockAnalyzer.Core/bin/
02/StockAnalyzer.Web/bin/
02/StockAnalyzer.Web/obj/
*.suo
02/.vs/StockAnalyzer/
